:root {
	--primary-color: #012970;
	--secondary-color: #717ff5;
	--alabaster-color: #f1f0eb;
	--silver-color: #f1f0eb;
}

/* --primary-color: #4154f1;
  --light-primary-color: #717ff5; 
  --secondary-color: #D17A22; 
  --dark-cyan-blue: #012970;
  --greyish: #444444 */

body {
	font-family: "Source Sans Pro", sans-serif;
}

.text-secondary {
	color: var(--secondary-color);
}
.text-primary {
	color: var(--primary-color);
}

.bg-secondary {
	background-color: var(--secondary-color);
}

.bg-primary {
	background-color: var(--primary-color);
}

.hero {
	background-image: url("./img/bg-hero.png");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: left;
}

.gradient {
	background: linear-gradient(90deg, #012970 100%, #717ff5 0%);
}
